numpy==1.22
keras>=2.3.1
tqdm>=4.36.1
argparse>=1.1
matplotlib==3.5.3
pyqt5>=5.13.1
scipy>=1.3.1
fancyimpute
seaborn==0.11.2
torch==1.10.2
gseapy
statsmodels
gdown
shap==0.40.0
scikit-learn==0.24.2
pandas==1.3.5
matplotlib-inline==0.1.3
